@use '../mixins/responsive.scss' as *;  
.card-cv{
    width: 286px;
    height: 160px;
    position: relative;
    align-items: center;
    bottom: 200px;
    left: 60px;
    @include responsive(desktop) {
        width: 447px;
        height: 245px;
        bottom:400px;
        left:200px;
    }
&__number{
    position: relative;
    bottom:300px;
    left:260px;
    color:white;
    font-size: 15px;
    letter-spacing: 4px;
    @include responsive(desktop) {
       bottom:545px;
        left:540px;
    }
}
}
.card-info{
    width: 286px;
    height: 160px;
    position: relative;
    align-items: center;
    bottom:312px;
    left:20px;
    @include responsive(desktop) {
        width: 447px;
        height: 245px;
        bottom:1050px;
        left:150px;
    }
&__organization{
  display: flex;  
  flex-direction: column;
  justify-content: center;
  position: relative;
  bottom:450px;
  padding-top:20px;
  color:white;
  @include responsive(desktop) {
    width: 447px;
    height: 245px;
    bottom:1250px;
    left:150px;
 
}
}
&__number{
    font-size: 18px;
    position: relative;
    letter-spacing: 3px;
    left:50px;
    @include responsive(desktop) {
        font-size: 25px;
        left:70px;
    }
}
&__name{
    font-size: 15px;
    position: relative;
    left:50px;
    @include responsive(desktop) {
       
        left:70px;
    }
}
}
.dates{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap:10px;
    font-size: 8px;
    position: relative;
    bottom:37px;
    left:80px;
    @include responsive(desktop) {
       
        left:125px;
    }
&__month{}
&__year{}
}

