@use '../mixins/responsive.scss' as *;
.form {
  display: flex;
  flex-direction: column;

  gap: 20px;
  @include responsive(desktop) {
    position: absolute;
    bottom: 200px;
    left: 800px;
  }
}
.form-organization {
  width: 327px;
  display: flex;
  flex-direction: column;
  margin: auto;
  gap: 10px;
}
.form-size {
  height: 50px;
  border-radius: 0.5rem;
}
