@use '../mixins/responsive.scss' as *;
.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top:150px;
  @include responsive(desktop) {
    margin-top:0;
    width: 380px;
    position: absolute;
    bottom:300px;
    left:800px;
  }
}
.form-organization {
  width: 327px;
  display: flex;
  flex-direction: column;
  margin: auto;
  gap: 10px;
}
.form-size {
  height: 50px;
  border-radius: 0.5rem;
}
